@mixin container {
    width: 320px;
    margin: 0 auto;
    @media(min-width: $mobile-width-horizontal) {
        width: 720px;
    }
    @media(min-width: $tablet-width) {
        width: 960px;
    }
    @media(min-width: $desktop-width) {
        width: 1110px;
    }
}
