<div *ngIf="!submitted">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <h2>Create book</h2>

    <div>
      <mat-form-field>
        <mat-label>Book title</mat-label>
        <input matInput formControlName="title" type="text">
        <mat-hint align="end">{{ titleControl.value.length }}/25</mat-hint>
        <mat-error *ngIf="titleControl.invalid">{{ getErrorMessage(titleControl) }}</mat-error>
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Book description</mat-label>
        <input matInput formControlName="description" type="text">
        <mat-error *ngIf="descriptionControl.invalid">{{ getErrorMessage(descriptionControl) }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Authors</mat-label>
        <mat-select multiple formControlName="author">
          <mat-option *ngFor="let currentAuthor of authors$ | async" [value]="currentAuthor.id">
            {{ currentAuthor | fullname }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="authorControl.invalid">{{ getErrorMessage(authorControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Genres</mat-label>
        <mat-select multiple formControlName="genres">
          <mat-option *ngFor="let currentGenre of genres$ | async" [value]="currentGenre.id">
            {{ currentGenre.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="genresControl.invalid">{{ getErrorMessage(genresControl) }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Writing date</mat-label>
        <input 
          matInput
          formControlName="writing_date"
          [matDatepicker]="writingPicker"
          [max]="releaseDateControl.value"
          >
        <mat-datepicker-toggle matIconSuffix [for]="writingPicker"></mat-datepicker-toggle>
        <mat-datepicker #writingPicker></mat-datepicker>
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-error *ngIf="writingDateControl.invalid">{{ getErrorMessage(writingDateControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Release date</mat-label>
        <input 
          matInput
          formControlName="release_date"
          [matDatepicker]="releasePicker"
          [min]="writingDateControl.value"
          >
        <mat-datepicker-toggle matIconSuffix [for]="releasePicker"></mat-datepicker-toggle>
        <mat-datepicker #releasePicker></mat-datepicker>
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-error *ngIf="releaseDateControl.invalid">{{ getErrorMessage(releaseDateControl) }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>In stock</mat-label>
        <input matInput formControlName="in_stock" type="number" min="0">
        <mat-error *ngIf="inStockControl.invalid">{{ getErrorMessage(inStockControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" min="0">
        <mat-error *ngIf="priceControl.invalid">{{ getErrorMessage(priceControl) }}</mat-error>
      </mat-form-field>
    </div>

    <mat-error *ngIf="bookForm.hasError('datesCompare')">
      Writing date must be less than the release date
    </mat-error>
    <mat-error *ngIf="submitError">
      Some error was occurred. Try again later
    </mat-error>

    <button mat-raised-button type="submit">Create</button>
  </form>
</div>

<div *ngIf="submitted">
  <h2>New book created!</h2>
  <p>
    You will be redirected to the
     <a routerLink="/books">books list page</a>
      in 
    <app-display-timer [timerDelay]="redirectDelaySeconds" (timerFinished)="onRedirect()"></app-display-timer>
     seconds
  </p>
</div>