@import '../../../styles/variables.scss';


button {
  margin-bottom: 20px;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3 {
  margin-right: 60px;
  font-size: bold;
}

.preview div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media(min-width: $tablet-width) {
    margin-right: 60px;;
  }

  img {
    margin-bottom: 20px;
    object-fit: cover;
  }
}

li {
  list-style: none;
  color: orange;
}