<section *ngIf="isMenuOpen" class="mobile-wrapper">
  <mat-nav-list class="mobile-list">
    <a mat-list-item routerLink="/" (click)="closeMenu()">Bookstore</a>
    <a mat-list-item routerLink="/books" (click)="closeMenu()">Books</a>
    <a mat-list-item routerLink="/authors" (click)="closeMenu()">Authors</a>
    <a mat-list-item routerLink="/authorization" (click)="closeMenu()">Authorization</a>
    <a mat-list-item routerLink="/cart" (click)="closeMenu()">Cart</a>
    <button mat-list-item (click)="closeMenu()">Close</button>
  </mat-nav-list>
</section>

<mat-toolbar color="accent" class="header">
  <div class="container">
    <section class="site-navigation">
      <mat-nav-list class="bookstore-link">
        <a mat-list-item routerLink="/">Bookstore</a>
      </mat-nav-list>

      <mat-nav-list class="site-list">
        <a mat-list-item routerLink="/books">Books</a>
        <a mat-list-item routerLink="/authors">Authors</a>
      </mat-nav-list>
    </section>

    <button 
      mat-icon-button
      class="navigation-toggle" 
      aria-label="Icon button with a menu icon"
      (click)="isMenuOpen ? closeMenu() : openMenu()"
    >
      <mat-icon [fontIcon]="isMenuOpen ? 'close' : 'menu'"></mat-icon>
    </button>

    <section class="user-navigation">
      <a mat-icon-button routerLink="/authorization" aria-label="Icon button with an account_circle icon">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </a>
      <a mat-icon-button routerLink="/cart" aria-label="Icon button with an shopping_bag icon">
        <mat-icon fontIcon="shopping_bag"></mat-icon>
      </a>
    </section>
  </div>
</mat-toolbar>