@import '../styles/mixins';
@import '../styles/variables';

mat-toolbar.header {
  min-width: 320px;
  margin-bottom: 20px;
  min-height: 65px;
}

.container {
  @include container;
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-toggle {
  align-self: center;
  @media(min-width: $mobile-width-horizontal) {
    display: none;
  }
}

.user-navigation {
  display: none;
  @media(min-width: $mobile-width-horizontal) {
    display: flex;
    align-items: center;
  }
}

.site-list {
  display: none;
  @media(min-width: $mobile-width-horizontal) {
    display: flex;
  }

  a {
    width: auto;
  }
}

.mobile-wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.mobile-list {
  z-index: 1;
  top: -5px;
  left: 0;
  width: 320px;
  margin: 0 auto;
  @media(min-width: $mobile-width-horizontal) {
    display: none;
  }

  a {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid rgba(194, 158, 86, 0.8);
  }

  button {
    margin-top: 10px;
    border: 1px solid rgba(203, 171, 105, 0.8);

  }
}
