<mat-card *ngIf="book$ | async as book">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ book.title }}</h2>
    </mat-card-title>
    <img src="assets/novelties-1.webp" [attr.alt]="book.title + ' cover image'">
  </mat-card-header>
  <mat-card-content>

    <section>

      <ng-container *ngIf="authors$ | async as authors">
        <h4>Authors</h4>
        <div class="authors">
          <div *ngFor="let author of authors" class="author">
            <div mat-card-avatar class="author-avatar"></div>
            <p (click)="showAuthorDetails = !showAuthorDetails">{{ author | fullname }}</p>
            <app-modal-details
              *ngIf="showAuthorDetails"
              [fields]="getAuthorFields(author)"
              (close)="showAuthorDetails = !showAuthorDetails"
            >
              <ng-template #headerTemplate class="header">
                <h4 class="author-header">Information about author:</h4>
              </ng-template>

              <ng-template #fieldTemplate let-field class="field">
                <p class="author-field">
                  <mat-icon fontIcon="info_i"></mat-icon>
                  {{ field }}
                </p>
              </ng-template>
            </app-modal-details>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="genres$ | async as genres">
        <h4>Genres</h4>
        <ul class="genres">
          <li *ngFor="let genre of genres" class="genre">
            {{ genre.title }}
          </li>
        </ul>
      </ng-container>

      <div class="description">
        <h4>Description</h4>
        <p>{{ book.description }}</p>
        <span>Writing date: {{ book.writingDate | date:'mediumDate' }}</span><br>
        <span>Release date: {{ book.releaseDate | date:'mediumDate' }}</span><br>
        <span>In stock: {{ book.inStock }}</span><br>
        <span>Price: {{ book.price | currency }}</span>
      </div>
    </section>

    <section class="actions">
      <button mat-stroked-button color="primary">TO FAVORITES</button>
      <button mat-stroked-button color="primary">BUY</button>
    </section>
  </mat-card-content>
</mat-card>