<h2>Cart</h2>

<div class="cart-list">
  <mat-card *ngFor="let item of cartItemsList" class="cart-item">
    <mat-list class="item-info">
      <span matListItem>
        Book number: {{ item.book_id }}<br>
        {{ item.new_price | currency }}</span>
      <span matListItemLine>Amount: {{ item.amount }}</span>
    </mat-list>
    <mat-list>
      <span matListItem>Order time: {{ item.orders_time | date }}</span>
      <span matListItemLine>Warranty days: {{ item.warranty_days }}</span>
    </mat-list>
    <mat-list>
      <span matListItem>City: {{ item.city }}</span>
      <span matListItemLine>Address: {{ item.address }}</span>
    </mat-list>
  </mat-card>
</div>