@import "../../../core/styles/variables";


.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card {
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    @media(min-width: $mobile-width-horizontal) {
        width: 200px;
    }

    mat-card-header {
        align-self: flex-start;
        width: 100%;
        padding: 0;
        min-height: 75px;
    }

    mat-card-title {
        margin-top: 10px;
        padding: 0 10px;
    }

    mat-card-subtitle {
        padding: 0 10px;
    }

    img {
        width: 100px;
        margin: 10px 0;
        @media(min-width: $mobile-width-horizontal) {
            width: 140px;
        }
    }

    button {
        width: 130px;
        margin: 5px 0;
    }

    .favorite-button {
        margin-top: auto;
    }
}

.author-id-image {
    width: 35px;
    height: 35px;
    margin: 10px 0 0 5px;
    background-image: url(../../../../assets/authors/auth-doyle.jpg);
    background-size: cover;

    @media(min-width: $mobile-width-horizontal) {
        width: 40px;
        height: 40px;
    }
}

mat-card-content {
    margin-bottom: 20px;
}