<mat-card class="actions">
  <mat-card-header>
    <mat-card-title>
      Action panel
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-books-filter></app-books-filter>
    <button class="create-book" routerLink="/books/new" mat-stroked-button color="primary">Create book</button>
  </mat-card-content>
</mat-card>

<app-books-list [booksList]="currentBooksList"></app-books-list>

<mat-paginator [length]="totalBooks" [pageSize]="pageSizeStart" (page)="getPaginatorData($event)"
  [pageSizeOptions]="pageSize">
</mat-paginator>