<mat-card class="actions">
  <mat-card-header>
    <mat-card-title>
      Action panel
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button class="create-book" routerLink="/books/new" mat-raised-button color="accent">Create book</button>
    <app-books-filter></app-books-filter>
  </mat-card-content>
</mat-card>

<app-books-list [booksList]="currentBooksList"></app-books-list>

<mat-paginator 
  [length]="totalBooks"
  [pageSize]="pageSizeStart"
  [pageSizeOptions]="pageSize"
  (page)="getPaginatorData($event)"
  ></mat-paginator>