<button
  mat-raised-button
  color="accent"
  class="create-book"
  routerLink="/books/new"
>Create book</button>
<app-books-filter [inputFilterValues]="params$ | async" (filterValueChange)="filterUpdate($event)"></app-books-filter>

<ng-container *ngIf="booksResponse$ | async as response">
  <app-books-list [booksList]="response.result"></app-books-list>

  <mat-paginator 
    #paginator
    [length]="response.totalItems"
    [pageSizeOptions]="pageSizes"
    [pageSize]="paginatorInitialPageSize"
    (page)="paginatorUpdate($event)"
  ></mat-paginator>
</ng-container>