@import '../../../styles/variables.scss';


.fields-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  @media(min-width: $mobile-width-horizontal) {
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
  } 
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}