@import "../../../core/variables.scss";

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card {
    width: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
    @media(min-width: $mobile-width-horizontal) {
        width: 200px;
    }
}

.book-card mat-card-header {
    align-self: flex-start;
    padding: 0;
    @media(min-width: $mobile-width-horizontal) {
        padding: 16px 16px 0 16px;
    }
}

.author-id-image {
    width: 35px;
    height: 35px;
    margin: 5px 0 0 5px;
    background-image: url(../../../../assets/authors/auth-doyle.jpg);
    background-size: cover;

    @media(min-width: $mobile-width-horizontal) {
        width: 40px;
        height: 40px;
    }
}

.book-card mat-card-title {
    padding: 0 10px;
}

.book-card mat-card-subtitle {
    padding: 0 10px;
}

.book-card img {
    width: 100px;
    margin: 10px 0;
    @media(min-width: $mobile-width-horizontal) {
        width: 140px;
    }
}

.book-card button {
    width: 130px;
    margin: 5px 0;
}