<label for="uploadImage"></label>
<input 
  #uploadInput
  hidden
  id="uploadImage"
  type="file"
  [accept]="acceptTypes"
  (change)="addFiles(uploadInput.files)"
  multiple
  >

<button 
  mat-raised-button
  type="button"
  [disabled]="disabled"
  (click)="uploadInput.click(); onTouched()"
  >Select image</button>

<div *ngIf="displayPreview">
  <h3>Preview:</h3>

  <section class="preview">
    <div *ngFor="let item of inputValue">
      <img
      width="200px"
      height="200px"
      alt="Uploaded image preview"
      [src]="item.blobLink"
      [class.pending]="item.uploadStatus === 'pending'"
      >
      <mat-spinner *ngIf="item.uploadStatus === 'pending'" diameter="50"></mat-spinner>
    </div>
  </section>
</div>



<button type="button" (click)="onInfo()">Get state info</button>
