<label for="uploadImage"></label>
<input 
  #uploadInput
  hidden
  id="uploadImage"
  type="file"
  [accept]="acceptTypes"
  (change)="addFiles(uploadInput.files)"
  multiple
  >

<button 
  mat-raised-button
  type="button"
  [disabled]="disabled"
  (click)="uploadInput.click(); onTouched()"
  >Select image</button>

<section *ngIf="imagesState.length">
  <h4>Preview:</h4>
  <div *ngFor="let state of imagesState" class="preview">
    <img
    width="100px"
    height="100px"
    alt="Uploaded image preview"
    [src]="state.blobLink"
    [class.pending]="state.uploadStatus === 'pending'"
    >
    <mat-spinner *ngIf="state.uploadStatus === 'pending'" diameter="50"></mat-spinner>
  </div>
</section>
