<div>
  <section [ngTemplateOutlet]="headerTemplate || defaultHeader" class="header"></section>
  <ng-content select=".header"></ng-content>
  <ng-template #defaultHeader>
    <h4>Detailed information:</h4>
  </ng-template>

  <section *ngFor="let field of fields" class="fields">
    <ng-container
      [ngTemplateOutlet]="fieldTemplate || defaultField"
      [ngTemplateOutletContext]="{ $implicit: field }"
    ></ng-container>
    <ng-content select=".field"></ng-content>
    <ng-template #defaultField let-field>
      <p>{{ field }}</p>
    </ng-template>
  </section>

  <button mat-fab extended color="accent" (click)="onClose()">Close</button>
</div>