@use 'sass:map';
@use '@angular/material' as mat;
@import '../core/variables.scss';

@mixin typography($theme) {
    mat-toolbar.footer h4 {
        font: mat.get-theme-typography($theme, subtitle-2);
        @media(min-width: $mobile-width-horizontal) {
            font: mat.get-theme-typography($theme, headline-6);
        }
    }

    .footer span {
        font: mat.get-theme-typography($theme, overline);
        @media(min-width: $mobile-width-horizontal) {
            font: mat.get-theme-typography($theme, subtitle-2);
        }
    }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, typography) {
        @include typography($theme);
    }
}