<h2 class="title">Books</h2>

<mat-card class="book" *ngFor="let book of booksList">
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/books', book.id]">{{ book.title }}</a>
    </mat-card-title>
    <mat-card-subtitle>
      <a [routerLink]="['/books', book.id]">{{ book.price | currency }}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <img 
    mat-card-image
    src="../../../assets/novelties-1.webp"
    [routerLink]="['/books', book.id]"
    [attr.alt]="book.title + ' cover image'"
  >
  <mat-card-content>
    <a [routerLink]="['/books', book.id]">
      <p>{{ book.description }}</p>
    </a>
  </mat-card-content>
  <section class="actions">
    <button mat-stroked-button color="primary" class="favorite-button">TO FAVORITES</button>
    <button mat-stroked-button color="primary" class="buy-button">BUY</button>
  </section>
</mat-card>

<section *ngIf="!booksList?.length" class="no-list">
  <h3>Nothing was found</h3>
  <h3>Change filter parameters and try again</h3>
</section>