<h2 class="title">Books</h2>

<mat-card class="book" *ngFor="let book of booksList">
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/books', book.id]">{{ book.title }}</a>
    </mat-card-title>
    <mat-card-subtitle>
      <a [routerLink]="['/books', book.id]">{{ book.price | currency }}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [routerLink]="['/books', book.id]" src="../../../assets/novelties-1.webp" [attr.alt]="book.title + ' cover image'">
  <mat-card-content>
    <a [routerLink]="['/books', book.id]">
      <p>{{ book.description }}</p>
    </a>
  </mat-card-content>
  <section class="actions">
    <button class="favorite-button" mat-stroked-button color="primary">TO FAVORITES</button>
    <button class="buy-button" mat-stroked-button color="primary">BUY</button>
  </section>
</mat-card>