<h2 *ngIf="!submitted">Registration</h2>

<form *ngIf="!submitted" [formGroup]="registrationForm">
  <mat-form-field class="emailField">
    <mat-label>Enter your email:</mat-label>
    <input matInput type="email" formControlName="email"/>
    <mat-error *ngIf="emailControl.hasError('required')">
      This field is required
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('availableEmail')">
      Email already exists
    </mat-error>
    <mat-spinner *ngIf="(emailControl.statusChanges | async) === 'PENDING'" [diameter]="20" matSuffix></mat-spinner>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Enter your password:</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="passwordControl.hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm your password:</mat-label>
    <input matInput type="password" formControlName="passwordConfirm">
    <mat-error *ngIf="passwordConfirmControl.hasError('required')">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="registrationForm.hasError('identicalValues')">
    Passwords don't match
  </mat-error>

  <mat-error *ngIf="submitError">
    Some error was occurred. Try again later
  </mat-error>

  <section>
    <button mat-fab extended color="primary" type="submit" (click)="onSubmit()">Sign up</button>
  </section>
</form>

<section *ngIf="submitting" class="submitting">
  <h4>Please wait..</h4>
  <mat-spinner  diameter="50"></mat-spinner>
</section>

<div *ngIf="submitted" class="submitted">
  <h2>Registration was successful</h2>
  <p>
    You will be redirected to the
     <a routerLink="/authorization">authorization page</a>
      in 
    <app-display-timer [timerDelay]="redirectDelaySeconds" (timerFinished)="onRedirect()"></app-display-timer>
     seconds
  </p>
</div>