@use '@angular/material' as mat;
@use 'sass:map';

@use './app/styles/header-theme' as header;
@use './app/styles/footer-theme' as footer;
@use './app/styles/novelties-theme' as novelties;
@import './app/styles/theme/app-theme.scss';

@include mat.core();

@include mat.all-component-themes($my-theme);
@include header.theme($my-theme);
@include footer.theme($my-theme);
@include novelties.theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
