@import '../../../core/variables.scss';
@import '../../../core/mixins.scss';

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 20px;
    padding: 20px;
    @media(min-width: $mobile-width-horizontal) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.item-info {
    width: 160px;
}