<mat-toolbar class="header" color="accent">
    <div class="container">
      <section class="site-navigation">
        <mat-list class="bookstore-link">
          <a mat-list-item routerLink="/">Bookstore</a>
        </mat-list>
        

        <section *ngIf="isMenuOpen">
          <mat-list class="navigation-mobile">
            <a mat-list-item routerLink="/books">Books</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/authors">Authors</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">Authorization</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">Cart</a>
          </mat-list>
        </section>

        <mat-nav-list class="site-list">
            <a mat-list-item routerLink="/books">Books</a>
            <a mat-list-item routerLink="/authors">Authors</a>
        </mat-nav-list>
      </section>
    
      <button class="navigation-toggle" (click)="isMenuOpen = !isMenuOpen" mat-icon-button aria-label="Icon button with a menu icon">
        <mat-icon [fontIcon]="isMenuOpen ? 'close' : 'menu'"></mat-icon>
      </button>

      <section class="user-navigation">
        <button mat-icon-button aria-label="Icon button with an account_circle icon">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </button>
        <button mat-icon-button aria-label="Icon button with an shopping_bag icon">
          <mat-icon fontIcon="shopping_bag"></mat-icon>
        </button>
      </section>
    </div>
  </mat-toolbar>
